{% extends 'base.html.twig' %}
{% block body %}

<div class="change-form w-full h-screen background flex flex-col justify-center place-items-center text-white font-mono">
{{form_start(form)}}

    <div class="flex flex-col gap-8 place-items-center">

        <div class=""><img src="{{ asset('img/logo.png') }}" class="w-24"></div>

        <h1 class="text-4xl font-semibold">Zmień hasło</h1>
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-1">
                {{form_label(form.password, 'Hasło')}}
                {{form_widget(form.password, {'attr': {'class': 'form__widget rounded-md border border-gray-700'}})}}
            </div>
            <div class="flex flex-col gap-1">
                {{form_label(form.plainPassword.first)}}        
                {{form_widget(form.plainPassword.first, {'attr': {'class':'form__widget rounded-md border border-gray-700'}})}}
            </div>
            <div class="flex flex-col gap-1">
                {{form_label(form.plainPassword.second)}}        
                {{form_widget(form.plainPassword.second, {'attr': {'class':'form__widget rounded-md border border-gray-700'}})}}
            </div>

                <button type="submit" class="form__btn pt-2 pb-2 rounded-md flex justify-center mt-2 border border-gray-700">Zapisz zmiany</button>
        </div>
    </div>
{{form_end(form)}}
</div>
{% endblock %}