{{ form_start(form) }}

<div class="flex flex-col w-full h-full gap-8 place-items-center justify-center text-white">
    <div class="flex w-full h-full gap-4 place-items-center justify-center text-white">
        <div class="flex flex-col gap-1">
            {{ form_label(form.code, 'Kod weryfikacyjny') }}
            {{ form_widget(form.code, {'attr': {'class': 'form__widget rounded-md border border-gray-700'}}) }}
        </div>
    </div>
    <div class="flex w-full place-items-center justify-center text-white gap-4">
    <button type="submit" class="profile__btn rounded-md w-1/2">Kontynuuj</button>
    <a href="{{ path('app_profile') }}" class="profile__btn rounded-md w-1/2 text-center">Anuluj</a>
    </div>
</div>
    {{ form_end(form) }}
