<form action="{{ path('app_repair') }}" method="GET" class="flex mr-1 place-items-center z-10">
<div class="rounded-md bg-transparent appearance-none text-white text-md pl-0 w-36 pr-4">
    <button type="button" onclick="toggleDropdown()" class="filter__dropdown text-md relative w-40 p-4 text-left">Filtruj</button>
    <div class="hidden absolute checkbox__dropdown-content flex flex-col h-80 w-44 overflow-scroll p-2 text-white border-gray-600 border rounded-md top-16 gap-1">
        <p>Status</p>
        <div class="w-38 border border-gray-400"></div>
        <label>
            <input type="checkbox" name="filter[status][]" value="planned" class="planned mr-1" {% if 'planned' in (filters.status|default([])) %}checked{% endif %}>Oczekujące
        </label>
        <label>
            <input type="checkbox" name="filter[status][]" value="in_progress" class="in_progress mr-1"{% if 'in_progress' in (filters.status|default([])) %}checked{% endif %}>W trakcie
        </label>
         <label>
            <input type="checkbox" name="filter[status][]" value="done" class="done mr-1" {% if 'done' in (filters.status|default([])) %}checked{% endif %}>Zakończone
        </label>
        <p class="mt-2">Miesiąc</p>
        <div class="w-38 border border-gray-400"></div>
         <label>
            <input type="checkbox" name="filter[month][]" value="currentMonth" class="mr-1" {% if 'currentMonth' in (filters.month|default([])) %}checked{% endif %}>Obecny
        </label>
         <label>
            <input type="checkbox" name="filter[month][]" value="previousMonth" class="mr-1" {% if 'previousMonth' in (filters.month|default([])) %}checked{% endif %}>Poprzedni
        </label>
        <p class="mt-2">Rodzaj naprawy</p>
        <div class="w-38 border border-gray-400"></div>
         <label>
            <input type="checkbox" name="filter[part][]" value="mechanic" class="mr-1" {% if 'mechanic' in (filters.part|default([])) %}checked{% endif %}>Mechaniczne
        </label>
         <label>
            <input type="checkbox" name="filter[part][]" value="body" class="mr-1" {% if 'body' in (filters.part|default([])) %}checked{% endif %}>Karoseryjne
        </label>
         <label>
            <input type="checkbox" name="filter[part][]" value="electric_electronic" class="mr-1" {% if 'electric_electronic' in (filters.part|default([])) %}checked{% endif %}>Układ elektryczny i elektroniczny
        </label>
         <label>
            <input type="checkbox" name="filter[part][]" value="ac_ventilation" class="mr-1" {% if 'ac_ventilation' in (filters.part|default([])) %}checked{% endif %}>Wentylacja i klimatyzacja
        </label>
         <label>
            <input type="checkbox" name="filter[part][]" value="fluid" class="mr-1" {% if 'fluid' in (filters.part|default([])) %}checked{% endif %}>Płyny eksploatacyjne
        </label>
         <label>
            <input type="checkbox" name="filter[part][]" value="wheels" class="mr-1" {% if 'wheels' in (filters.part|default([])) %}checked{% endif %}>Opony i felgi
        </label>
         <label>
            <input type="checkbox" name="filter[part][]" value="interior" class="mr-1" {% if 'interior' in (filters.part|default([])) %}checked{% endif %}>Wnętrze
        </label>
         <label>
            <input type="checkbox" name="filter[part][]" value="other" class="mr-1" {% if 'other' in (filters.part|default([])) %}checked{% endif %}>Inne
        </label>
        <p class="mt-2">Pojazd</p>
        <div class="w-38 border border-gray-400"></div>
        {% if repairs|length > 0 %}
        {% for vehicle in vehicles %}
         <label>
            <input type="checkbox" name="filter[vehicle][]" value="{{ vehicle.id }}" class="mr-1" {% if vehicle.id in (filters.vehicle|default([])) %}checked{% endif %}>{{ vehicle.brand }} {{ vehicle.model }} | {{ vehicle.numberPlate }}
        </label>
        {% endfor %}
        {% endif %}
        <button type="submit" class="bg-white text-black rounded-md mt-4">Filtruj</button>
        <div class="filter__blur absolute top-0 left-0 w-44 "></div>
    </div>
</div>
</form>
