<tr class="text-center border-t border-gray-700">
    <th class="table__row">{{ loop.index }}</th>
    <td class="table__row">{{ repair.vehicle.brand }} {{ repair.vehicle.model }} | {{ repair.vehicle.numberPlate }}</td>
    <td class="table__row">
    {% set parts = {
    "mechanic": "Mechaniczne",
    "body": "Karoseryjne",
    "electric_electronic": "Układ elektryczny i elektroniczny",
    "ac_ventilation": "Klimatyzacja i wentylacja",
    "fluid": "Płyny eksploatacyjne",
    "wheels": "Opony i felgi",
    "interior": "Wnętrze",
    "other": "Inne"
} %}

{{ parts[repair.part] | default("Nieznana kategoria") }}
    
    </td>
    <td class="table__row">{{ repair.price }} <span class="text-gray-400">PLN</span></td>
    <td class="table__row">{{ repair.dateRepair|date('d-m-Y') }}</td>
    <td class="table__row table__status">
        {% if repair.status == 'planned' %}
            <p class="status__btn status__btn--planned">Oczekujące</p>
        {% elseif repair.status == 'in_progress' %}
            <p class="status__btn status__btn--inprogress">W trakcie</p>
    
        {% elseif repair.status == 'done' %}
            <p class="status__btn status__btn--done">Zakończone</p>
        {% endif %}
    </td>
    <td class="table__row">
        {% if repair is defined and repair.description %}
        {{ repair.description }}
        {% else %}
            -
        {% endif %}
    </td>
    <td class="flex gap-3 justify-center">
        <div class="action-btn action-btn--edit">
            <a href="{{ path('app_repair_edit', {repair: repair.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
        </div>
        <div class="action-btn action-btn--remove">
            <a href="{{ path('app_repair_remove', {repair: repair.id}) }}" onclick="return confirm('Operacja usunięcia jest nieodwracalna')"><i class="fa-solid fa-trash"></i></a>
        </div>  
    </td>
</tr>



{# <tr class="text-center border-t border-gray-700">
    <th class="table__row">{{ loop.index }}</th>
    <td class="table__row">{{ repair.vehicle.brand }} {{ repair.vehicle.model }} | {{ repair.vehicle.numberPlate }}</td>
    <td class="table__row">{{ repair.part }}</td>
    <td class="table__row">{{ repair.price }} PLN</td>
    <td class="table__row">{{ repair.dateRepair|date('d-m-Y') }}</td>
    <td class="table__row">{% if repair.status == 'planned' %}
            Oczekujące
    
        {% elseif repair.status == 'in_progress' %}
            W trakcie
    
        {% elseif repair.status == 'done' %}
            Zakończone
        {% endif %}
    </td>
    <td class="table__row">
    {% if repair is defined and repair.description %}
        {{ repair.description }}
    {% else %}
        -
    {% endif %}

    </td>
    <td class="table__row flex gap-3 justify-center">
        <div class="action-btn action-btn--edit">
            <a href="{{ path('app_repair_edit', {repair: repair.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
        </div>
        <div class="action-btn action-btn--remove">
            <a href="{{ path('app_repair_remove', {repair: repair.id}) }}" onclick="return confirm('Operacja usunięcia jest nieodwracalna')"><i class="fa-solid fa-trash"></i></a>
        </div>    
    </td>
</tr> #}