<tr class="text-center border-t-2 border-gray-300 grid grid-cols-8">
    <th>{{ loop.index }}</th>
    <td>{{ repair.vehicle.brand }} {{ repair.vehicle.model }} | {{ repair.vehicle.numberPlate }}
    <td>{{ repair.part }}</td>
    <td>{{ repair.price }} PLN</td>
    <td>{{ repair.dateRepair|date('d-m-Y') }}</td>
    <td>{% if repair.status == 'planned' %}
            Oczekujące
    
        {% elseif repair.status == 'in_progress' %}
            W trakcie
    
        {% elseif repair.status == 'done' %}
            Zakończone
        {% endif %}
        </td>
    <td class="flex flex-wrap justify-center">
    {% if repair is defined and repair.description %}
        {{ repair.description }}
    {% else %}
        -
    {% endif %}

    </td>
    <td class="flex gap-3 justify-center">
        <a href="{{ path('app_repair_edit', {repair: repair.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
       <a href="{{ path('app_repair_remove', {repair: repair.id}) }}" onclick="return confirm('Operacja usunięcia jest nieodwracalna')"><i class="fa-solid fa-trash"></i></a>
    </td>
</tr>