{% extends 'base.html.twig' %}

{% block body %}
<div class="flex justify-center">
    {% for flash_error in app.flashes('error') %}
        <div class="error alert-error absolute top-3 w-1/3 text-center rounded-md bg-red-200 border border-red-300 text-red-700 p-3 z-30" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    {% for flash_error in app.flashes('success') %}
         <div class="success alert-success absolute top-3 w-1/3 text-center rounded-md bg-green-200 border border-green-300 text-green-700 p-3 z-30" role="alert">{{ flash_error }}</div>
    {% endfor %}
</div>

<div class="w-full h-screen w:md-2/3 mx-auto flex overflow-hidden">
    <div class="nav">
        {{ include('shared/_form_nav.html.twig') }}
    </div>
    <div class="flex flex-col w-10/12 h-screen place-items-center justify-between ml-40">

        <div class="flex flex-col place-items-center gap-5 w-full h-full">
            <div class="flex w-full justify-between place-items-center mt-4" data-sort="vehicle">
                <h2 class="page__title">Pojazdy</h2>
                {{ include('shared/_top_nav.html.twig') }}
            </div>

            <div class="content-table content-table--repair main__box overflow-y-scroll flex w-full h-full rounded-md ring-gray-700 ring-1">
            <table class="table w-full text-white">
                <tr class="table__head h-2 text-center">
                    <th class="w-10">ID</th>
                    <th class="">POJAZD</th>
                    <th class="w-42">TABLICE REJESTRACYJNE</th>
                    <th class="w-16">ROCZNIK</th>
                    <th class="w-21">ROK ZAKUPU</th>
                    <th class="w-22">PRZEGLĄD</th>
                    <th class="w-21">UBEZPIECZENIE</th>
                    <th class="w-21">EDYTUJ / USUŃ</th>
                </tr>
                {% if vehicles|length > 0 %}
                    {% for vehicle in vehicles %}
                    {{ include('vehicle/_vehicle.html.twig', {'vehicle': vehicle, 'currentDate': currentDate}) }}   
                    {% endfor %}
                {% endif %}
                <tr></tr>

            </table>
            
            </div>
            <div class="content-form main__box flex flex-col w-full pb-5 rounded-md ring-gray-700 ring-1 p-2 place-content-center text-center">
                <i class="form__button fa-solid fa-chevron-down text-white cursor-pointer text-xl"></i>
                {% if form_type == 'edit' %}
                    {% embed "vehicle/_edit_form.html.twig" %}{% endembed %}
                {% else %}
                    {% embed "vehicle/_form_vehicle_add.html.twig" %}{% endembed %}   
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}