<div class="col-span-2 bg-blue-950 h-screen w-full flex flex-col place-items-center justify-around">
    <div class="flex flex-col gap-8 ">
        <div class="w-full place-items-center mb-10">
            <img src="{{ asset('img/logo.png') }}" class="w-24">
            <h1 class="text-gray-300 text-3xl font-mono mt-2 spa">SERWISOWNIK</h1>
        </div>
        <a href="{{ path('app_index') }}"><button class="bg-gray-300 w-100 pr-8 pl-8 pt-2 pb-2 rounded-md text-xl font-semibold border border-gray-500 font-mono"><i class="fa-solid fa-chart-line"></i> Dashboard</button></a>
        <a href="{{ path('app_vehicle') }}"><button class="bg-gray-300 w-full pr-8 pl-8 pt-2 pb-2 rounded-md text-xl border font-semibold border-gray-500 font-mono"><i class="fa-solid fa-car-rear"></i> Pojazdy</button></a>
        <a href="{{ path('app_repair') }}"><button class="bg-gray-300 w-full pr-8 pl-8 pt-2 pb-2 rounded-md text-xl border font-semibold border-gray-500 font-mono"><i class="fa-solid fa-wrench"></i> Serwis</button></a>
    </div>
        <div class="w-full flex text-gray-300 text-3xl justify-between bottom-5">
            <a href=""><i class="fa-solid fa-user ml-10"></i></a>
            <a href="{{ path('app_logout') }}"><i class="fa-solid fa-arrow-right-from-bracket mr-10"></i></a>
        </div>
</div>